/* CSS for frontend*/
#item-form .radio input{
margin-left:5px !important;
}

#item-form .chzn-container{
width:200px !important;
}

#item-form .field-calendar input{
    display: inline !important;
}
 #item-form textarea{
/* DPE Hack - Need to remove !import as we custom styling for text area */
    height: inherit ;
}

#item-form .minicolors-theme-bootstrap .hex {
    width: 100px !important;
    height: auto;
}

.tjucm-wrapper .tj-wordwrap{
word-break: break-word;
}

#item-form #tjucm_loader{
  /* height:auto;
  position:absolute;
  top:45%;
  left:45%;
  opacity: 0.5;
  display:none; */
  } 

.accordion {
  background-color: #0daae5;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accordion.active, .accordion:hover {
  background-color: #ebbe6c;
  content:"";
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
}

.accordion::before 
{
  font-weight: bold;
  content: "+ ";
}

.accordion.active::before{
  content: "- ";

}

/*DPE hack can go in core*/
.numericcalculation
 {
    background: #d3d3da;
    padding: 4px;
    width: 100%;
    font-weight: 700;
    color: white;
    margin-left: -1px;
    text-align: center;
    font-size: inherit;

 }
 .subformnumericcalculation{
  font-weight: 700;
  border:0px solid #ccc !important;
  margin-left: -17px;
  font-size: medium;
 }
 .numericalnovaluesubform{
  font-size : 0;
  font-weight: 0;
  margin-left: -17px;
 }

@media only screen and (max-width: 900px) {

.numericcalculation
 {
    background: #d3d3da;
    padding: 5px 10px 5px 5px;
    width: 100%;
    font-weight: 700;
    color: white;
    margin-left: -1px;
    text-align: center;
    font-size: inherit;
 }
}
<<<<<<< HEAD

.accordion {
  background-color: #0daae5;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accordion.active, .accordion:hover {
  background-color: #ccc; 
  content:""
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
}

.accordion::before 
{
  font-weight: bold;
  content: "+ ";
}

.accordion.active::before{
  content: "- ";

}
=======
    
>>>>>>> daea3599e1811b189095769f1c4681ebd8c32628
